@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.wrap1 {
  width: 1360px;
  margin: 0 auto;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.sizing {
  box-sizing: border-box;
}
.flo-left {
  float: left;
}
.flo-right {
  float: right;
}
.header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 1px 0 10px #999;
  padding: 10px 10px 0;
  box-sizing: border-box;
}
.header-right li {
  float: right;
  margin-right: 10px;
  font-size: 14px;
  color: #666;
  line-height: 25px;
}
.logo,
.header-menu {
  float: left;
}
.logo .header-title,
.header-menu .header-title {
  font-size: 14px;
  width: 100px;
  height: 40px;
  background: #eeeeee;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}
.logo .header-title span,
.header-menu .header-title span {
  background: url("../img/hw1_sprite.png") -103px -80px no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}
.logo div,
.header-menu div,
.logo ul,
.header-menu ul,
.logo li,
.header-menu li {
  float: left;
  margin-left: 20px;
  line-height: 40px;
}
.header-search {
  background: url("../img/hw1_sprite.png") -40px -65px no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  margin: 5px 5px 0 0;
}
.section {
  background: url("../img/homepage_banner_bg_gci.jpg") center 0 no-repeat;
  width: 100%;
  height: 545px;
  margin-top: 3px;
  position: relative;
}
.section-img {
  position: absolute;
  top: 75px;
  left: 120px;
  width: 385px;
}
.banner-btn {
  display: block;
  color: #fff;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  background: #b02d2e;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
}
.box {
  width: 1350px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 5px;
  flex-wrap: wrap;
}
.box .margin {
  margin-top: 15px;
}
.foot {
  background: #f9f9f9;
  height: 340px;
  margin-top: 20px;
  padding: 20px 0;
}
.foot-top {
  display: flex;
  justify-content: space-around;
}
.foot-top h2 {
  font-weight: 400;
  padding: 20px 0;
}
.foot-top .foot-list {
  flex: 1;
  margin-right: 50px;
}
.foot-top .foot-list li {
  color: #333;
  line-height: 30px;
}
.foot-top .foot-list p {
  font-size: 12px;
  color: #999;
}
.foot-top .foot-img {
  flex: 2;
}
.foot-img > div {
  display: flex;
}
.foot-img > div a {
  color: #333;
  line-height: 30px;
}
.foot-img > div p {
  color: #666;
  font-size: 14px;
  line-height: 30px;
}
.foot-img > div .img-1 {
  width: 340px;
  margin-right: 30px;
}
.foot-img > div .img-2 {
  width: 340px;
}
.foot2 {
  width: 1360px;
  height: 300px;
  background: #272727;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid red;
}
.foot2 a {
  color: #ccc;
}
.foot2 .foot2-left {
  flex: 2;
  display: flex;
  justify-content: space-around;
  line-height: 25px;
  color: #ccc;
}
.foot2 .foot2-left a {
  color: #ccc;
  font-size: 14px;
}
.foot2 .foot2-right {
  flex: 1;
  margin-left: 30px;
  color: #ccc;
}
.icon-list li {
  float: left;
}
.icon-list span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 20px 10px 20px 0;
}
.icon-list .bcg_1 {
  background: url("../img/hw1_sprite.png") 0 -450px no-repeat;
}
.icon-list .bcg_2 {
  background: url("../img/hw1_sprite.png") -32px -454px no-repeat;
}
.foot2-bottom {
  width: 100%;
  height: 100px;
  border: 1px solid #d43f3a;
}
